.header > div {
  z-index: 0 !important;
  margin-left: -13%;
 width: 100%;
 margin-right: -13.3%;

}

.title h1 {
  font-family: 'Bungee Inline';
  font-style: italic;
}

.menu { 
  margin-top: px;
}

.icon-menu {
  display: none;
}

@media (max-width: 750px) {
  .menu {
    display: none;
  }

  .icon-menu {
    display: block;
  }
}